Dear <%= @user.name %>, 
Thank you for signing up. 
You can now follow books and we will send you a notification when a new chapter is available. You can remove this option on your account or unfollow books anytime. 

Please, <a>confirm your account</a> 