<div class="login-wrap">
	<div class="login-html">
		<input id="tab-1" type="radio" name="tab" class="sign-in" <%= blah == 'checked' ? 'checked' : nil %>><label for="tab-1" class="tab">Sign In</label>
		<input id="tab-2" type="radio" name="tab" class="sign-up" <%= blah == 'checked' ? nil : 'checked' %>><label for="tab-2" class="tab">Sign Up</label>
		<div class="login-form">
			<div class="sign-in-htm">
		      //sign in form / login form
          <%= render 'sessions/loginform' %>
			</div>
			<div class="sign-up-htm">
				//sigup form / registration
          <%= render 'users/userform' %>
			</div>
		</div>
	</div>
</div>