<%= link_to 'Back to Books', books_path %> <%= link_to 'Create Chapter', new_book_chapter_path(@book) %>
<div>
  <%= render partial: 'book', locals: { book: @book } %>
</div>
<div>
  <%= render partial: 'chapters/chapterlist', locals: { chapters: @book.chapters } %>
</div>
