<ul>
  <% chapters.each do |chapter| %>
    <li>
      <%= link_to "#{chapter.chapter_number} - #{chapter.chapter_title}", book_chapter_path(chapter.book_id, chapter.chapter_number) %>
      <%= link_to 'edit', edit_book_chapter_path(chapter.book_id, chapter.chapter_number) %>
      <%= link_to 'delete', book_chapter_path(chapter.book_id, chapter.chapter_number), method: :delete %>
    </li>
  <% end %>
</ul>
