/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */


body{
  /*background-image: url("background.png");*/
  background: linear-gradient(#e6e6e6, white,white, #e6e6e6);
  background-repeat: no-repeat;
  background-width: 100%;
  margin-top: 60px;
  margin:0;
  color: #bfbfbf;
  font:600 16px/18px 'Open Sans',sans-serif;
}

#frame{
   /*background: url('main_frame.png') no-repeat;*/
   background-color: white;
   background-size: contain;
   min-height: 500px;
   margin: 30px;
   margin-top: 100px;
   box-shadow: inset 0 0 10px #888888;
   border:2px solid white;
   outline: 1px dashed white;
   outline-offset: -10px;
}

#main_frame{
   width: 100%;
   margin-top: 150px;
   height: 400px;
}

 /* bottom line*/
.hr{
	height:2px;
	margin:60px 0 50px 0;
	background:rgba(255,255,255,.2);
}

#private_policy{
	
	display: inline;
	float: left;
	margin-left: 10px;
}

#foot{
margin: auto;
width: 50%;
text-align: center;
}

#foot_centered{
	font: 12px 'Open Sans',sans-serif;    
}

