// Place all the styles related to the books controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.decorative-input {
  box-sizing: border-box;
  display: block;
  font-size: 14px;
  padding: 10px 35px 10px 10px;
  width: 384px;
  height: 40px;
  border-radius: 2px;
  color: #484848;
  background-color: #fff;
  border: 1px solid #aaa;
  font-family: Circular, "Helvetica Neue", Helvetica, Arial, sans-serif;
  line-height: normal;
}

.space-1 {
  margin-bottom: 6px;
}

.book-description {
  min-height: 200px;
}

.panel {
  box-sizing: border-box;
  padding: 32px;
  position: relative;
  width: 450px;
  margin: 0 auto;
}

.cover-image {
  border: 0;
  border-top: 1px solid #aaa;
  font-size: 14px;
  color: #484848;
}

.cover-image-pic {
  text-align: center;
  border: 0;
  font-size: 14px;
  padding-left: 10px;
  color: #484848;
}

.submit-btn {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  background: dodgerblue;
  color: #fff;
  width: 250px;
  height: 60px;
  border: 0px;
  border-radius: 2px;

  &:hover {
    background: darken(dodgerblue, 20%);
  }
}
