$nav-height: auto;

nav {
  font-size: .75rem;
  text-transform: uppercase;
  overflow: hidden;
}

.logo {
  background: url('fb.png') no-repeat left center;
  padding-left: 49px; /* fb logo is 44px width, + 5px padding */
  font-size: .875rem;
}

.navbar-brand.logo {
  color: #777;
}