body{
	margin:0;
	color:#6a6f8c;
	background:#c8c8c8;
	font:600 16px/18px 'Open Sans',sans-serif;
}
*,:after,:before{box-sizing:border-box}
.clearfix:after,.clearfix:before{content:'';display:table}
.clearfix:after{clear:both;display:block}
a{color:inherit;text-decoration:none}

/* full page: grey shadow and blue box */ 
.login-wrap{
	width:100%;
	margin:auto;
	max-width:525px;
	min-height:850px;
	position:relative;
	box-shadow:0 12px 15px 0 rgba(0,0,0,.24),0 17px 50px 0 rgba(0,0,0,.19);
}
/* blue box */ 
.login-html{
	width:100%;
	height:100%;
	position:absolute;
	padding:90px 70px 50px 70px;
	background:rgba(40,57,101,.9);
}
/* rotation wrapper inside blue box: username/password/keep me signed in/sign-in + hidde */ 
.login-html .sign-in-htm,
/* rotation wrapper inside blue box: username/password/repeat password/email address/sign-up + hidde*/ 
.login-html .sign-up-htm{
	top:0;
	left:0;
	right:0;
	bottom:0;
	position:absolute;
	-webkit-transform:rotateY(180deg);
	        transform:rotateY(180deg);
	-webkit-backface-visibility:hidden;
	        backface-visibility:hidden;
	-webkit-transition:all .4s linear;
	transition:all .4s linear;
}
/* default sign in button hidden */ 
.login-html .sign-in,
/* default sign up button hidden */ 
.login-html .sign-up,
/* default radio buttons sign in, sign up and keep me signed in (never show) */ 
.login-form .group .check{
	display:none;
}
/* sign up and sign up text*/
.login-html .tab,
/* username/password/repeat password text */
.login-form .group .label,
/* sign in sign up buttons*/
.login-form .group .button{
	text-transform:uppercase;
}
/* sign up and sign up text*/
.login-html .tab{
	font-size:22px;
	margin-right:15px;
	padding-bottom:5px;
	margin:0 15px 10px 0;
	display:inline-block;
	border-bottom:2px solid transparent;
}
/* sign up and sign up text when selected*/
.login-html .sign-in:checked + .tab,
.login-html .sign-up:checked + .tab{
	color:#fff;
	border-color:#1161ee;
}
/* wrapper from username to sign in/up*/
.login-form{
	min-height:345px;
	position:relative;
	-webkit-perspective:1000px;
	        perspective:1000px;
	-webkit-transform-style:preserve-3d;
	        transform-style:preserve-3d;
}
/* elements inside the wrapper from username to sign in/up*/
.login-form .group{
	margin-bottom:15px;
}
/* label, input, and sign in / up button display */
.login-form .group .label,
.login-form .group .input,
.login-form .group .button{
	width:100%;
	color:#fff;
	display:block;
}
/* rounded box on the input, and sign in / up button */
.login-form .group .input,
.login-form .group .button{
	border:none;
	padding:15px 20px;
	border-radius:25px;
	background:rgba(255,255,255,.1);
}
/* input password crypted */
.login-form .group input[data-type="password"]{
	text-security:circle;
	-webkit-text-security:circle;
}
/* color and font size of the labels */
.login-form .group .label{
	color:#aaa;
	font-size:12px;
}
/* font, margin, and background color of the sign in/up buttons */
.login-form .group .button{
	background:#1161ee;
	margin-bottom: 20px;
	font-size:12px;
	text-align:center;
	font-weight: normal;
}
/* square icon keep me signed in */
.login-form .group label .icon{
	width:15px;
	height:15px;
	border-radius:2px;
	position:relative;
	display:inline-block;
	background:rgba(255,255,255,.1);
}
/* white check mark in the square icon keep me signed in */
.login-form .group label .icon:before,
.login-form .group label .icon:after{
	content:'';
	width:10px;
	height:2px;
	background:#fff;
	position:absolute;
	-webkit-transition:all .2s ease-in-out 0s;
	transition:all .2s ease-in-out 0s;
}
.login-form .group label .icon:before{
	left:3px;
	width:5px;
	bottom:6px;
	-webkit-transform:scale(0) rotate(0);
	        transform:scale(0) rotate(0);
}
.login-form .group label .icon:after{
	top:6px;
	right:0;
	-webkit-transform:scale(0) rotate(0);
	        transform:scale(0) rotate(0);
}
/* white text keep me signed in when check box checked */
.login-form .group .check:checked + label{
	color:#fff;
}
/* blue box keep me signed in when checked */
.login-form .group .check:checked + label .icon{
	background:#1161ee;
}
/* white check mark in the square icon keep me signed in */
.login-form .group .check:checked + label .icon:before{
	-webkit-transform:scale(1) rotate(45deg);
	        transform:scale(1) rotate(45deg);
}
.login-form .group .check:checked + label .icon:after{
	-webkit-transform:scale(1) rotate(-45deg);
	        transform:scale(1) rotate(-45deg);
}
/* initial display rotation of sign in */
.login-html .sign-in:checked + .tab + .sign-up + .tab + .login-form .sign-in-htm{
	-webkit-transform:rotate(0);
	        transform:rotate(0);
}

/* initial display rotation of sign up */
.login-html .sign-up:checked + .tab + .login-form .sign-up-htm{
	-webkit-transform:rotate(0);
	        transform:rotate(0);
}

/*or*/
h1 {
	color:#fff;
	font-size: 20px;
	text-align:center;
	margin-top: 40px;
	margin-bottom: 40px;
}
/* bottom line*/
.hr{
	height:2px;
	margin:60px 0 50px 0;
	background:rgba(255,255,255,.2);
}
/* already member */
.foot-lnk{
	text-align:center;
}