<div class="about">
Who we are:

<p>Bookworm is born from a collaboration between two bookworms who wanted to offer a space for other worms to devour books.</p>


Who are the authors:

<p>Anybody can write here. The authors who agree with our policy can submit their first chapter and  draft of the highlights of their story to our committee. If the committee agree to publish the first chapter, they are offer an access to release the next chapters.</p>


What are the books:

<p>We offer a wide diversity of books, from science fi to cookbooks. The quality of the content is  ensure by our community who review books, comment chapters and can signal a chapter. The committee will remove any book which doesn’t follow our policy or that didn’t cash the attention of our worms after an extended period of time.</p>

</div>

<div class="big_book">
<%= image_tag("big_book.png", id: "img") %>
</div>
